/* toolbox.css */

body {
  font: 100% / 1 monospace;
  padding: 1em;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

#output {
  margin: 1em 0;
  padding: 1em 0;
  background-color: silver;
}
output {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 1em;
  padding: 1em;
  white-space: pre;
  color: black;
  background: white;
  border: 1px solid silver;
}
output::before {
  display: block;
  position: absolute;
  top: -1em;
  left: 0;
  font-size: 120%;
  font-weight: bold;
}
#css::before {
  content: "CSS: ";
}
#js::before {
  content: "JS: ";
}




a, a:link, a:visited {
  color: red;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}
